<!-- Modal -->
<div class="my-modal" *ngIf='modalConfig.visible'>
    <div class="modal-body">
        <div *ngIf='error'>
            <app-error [errorConfig] ='errorConfig'></app-error>
        </div>
        <h1 class="header">{{modalConfig.getPlayer().firstName}} {{modalConfig.getPlayer().lastName}}</h1>
        <div class="container table-center">
        <form [formGroup] ="statForm" >
            <div class="row">
                <div class="col-sm">
                    <label for="Game Number">Game Number</label>
                </div>
                <div class="col-sm">
                    <div class="input-group mb-3">
                        <input type="text" formControlName="gameNumber" class="form-control" placeholder="Game Number" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <label for="At-Bats">At Bats</label>
                </div>
                <div class="col-sm">
                    <div class="input-group mb-3">
                    <input type="text" formControlName="atBat" class="form-control" placeholder="ABs" aria-label="AtBats" aria-describedby="basic-addon1">  
                    </div>
                </div>
                <div class="col-sm">
                    <label for="Single">Single</label>
                    </div>
                <div class="col-sm">
                    <div class="input-group mb-3">
                        <input type="text" formControlName="single" class="form-control" placeholder="Single" aria-label="Single" aria-describedby="basic-addon1">   
                    </div>
                </div>
                </div>
    
                <div class="row">
                    <div class="col-sm">
                        <label for="2B">2B</label>
                    </div>
                    <div class="col-sm">
                        <div class="input-group mb-3">
                            <input type="text" formControlName="double" class="form-control" placeholder="2B" aria-label="2B" aria-describedby="basic-addon1">
                        </div>      
                    </div>
                    <div class="col-sm">
                        <label for="3B">3B</label>
                    </div>
                    <div class="col-sm">
                        <div class="input-group mb-3">
                            <input type="text" formControlName="triple" class="form-control" placeholder="3B" aria-label="3B" aria-describedby="basic-addon1">
                        </div>      
                    </div>
                </div>
    
                <div class="row">
                    <div class="col-sm">
                        <label for="HR">HR</label>
                        </div>
                    <div class="col-sm">
                        <div class="input-group mb-3">
                            <input type="text" formControlName="homerun" class="form-control" placeholder="HR" aria-label="HR" aria-describedby="basic-addon1">
                        </div>      
                    </div>
                    <div class="col-sm">
                        <label for="SO">SO</label>
                        </div>
                    <div class="col-sm">
                        <div class="input-group mb-3">
                            <input type="text" formControlName="strikeout" class="form-control" placeholder="SO" aria-label="SO" aria-describedby="basic-addon1">
                        </div>      
                    </div>
                    </div>
    
                    <div class="row">
                        <div class="col-sm">
                            <label for="Walks">Walks</label>
                        </div>
                        <div class="col-sm">
                            <div class="input-group mb-3">
                                <input type="text" formControlName="walk" class="form-control" placeholder="Walks" aria-label="Walks" aria-describedby="basic-addon1">
                            </div>      
                        </div>
                        <div class="col-sm">
                        <label for="RBI">RBI</label>
                        </div>
                        <div class="col-sm">
                            <div class="input-group mb-3">
                                <input type="text" formControlName="rbi" class="form-control" placeholder="RBI" aria-label="RBI" aria-describedby="basic-addon1">
                            </div>   
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <div class="col-sm">
                                    <button type="button" (click)="save()" class="btn btn-primary">Save</button>
                            </div>
                        </div>
    
                        <div class="col-sm table-center">
                            <div class="col-sm">
                                <button type="button"  (click)="close()" class="btn btn-primary">Close</button>
                            </div>
                        </div>
                    </div>
                </form>
          </div>
    </div>
</div>
<div class="modal-background" *ngIf='modalConfig.visible'></div>